
.more {
	.img-circle-point{
		border-radius: 50%;
		height: 110px;
		width: 130px;
		margin-top: 17px;
		margin-left: 25px;
	}
	ul {
		list-style: none;
		margin-left: -28px;
	}
	a {
	padding-right: 15px;
	color: #d8dee2a6;
	}
	li {
		list-style: none;
	}
	.fa-chevron-down {
		float: right;
		margin-top: -26px;
		margin-right: 30px;
	}
	hr {
		margin-top: 15px;
		margin-bottom: 20px;
		border: 0;
		border-top: 1px solid #5a5858;
	}
	.vim {
		padding-bottom: 443px;
		background-color: rgba(0, 8, 14, 0.91);
		color: rgba(195, 190, 190, 0.66);
		margin-left: -36px;
		position: fixed;
	}
	.fa {
	margin-right: 25px;
	}
	h4 {
		font-size: 18px;
		margin-left: 25px;
	}
	h6 {
	font-size: 12px;
	margin-left: 20px;
	}
}

.viewport {
	.navbar-default {
	    background-color: transparent;
	    border-color: #e7e7e7;
	    margin-right: -75px;
	}
	.navbar-right {
		font-size: 20px;
	}
	.font {
		margin-left: 160px;
		margin-right: -98px;
	}
	
	.fa-th {
		padding-right: 5px;
		padding-left: 5px;
		border-left: 2px solid; 
	}
	.view {
		margin-left: 10px;
		margin-top: 15px;
		font-size: large;
	}
	.nav > li {
		position:relative;
		display:block;
		float:left;
		margin-top: -39px;
	}
	.nav > li > a:hover {
		background-color: blue;
		color: white;
	}
	.btn-circle-sm {
		height: 33px;
		width: 60px;
		border-radius: 15px;
	}
	.row {
	    margin-right: -74px;
	    margin-left: 0px;
	    background-color: aliceblue;
	    margin-top: -21px;
	    -webkit-box-shadow: 5px 5px 80px -15px rgba(212,201,212,1);
		-moz-box-shadow: 5px 5px 80px -15px rgba(212,201,212,1);
		box-shadow:inset 0px 0px 80px -20px rgba(212,201,212,1);
	}
	.active1 {
		border-bottom: 2px solid;
		padding: 4px;
	}
	.man-u > ul > li {
		float: left;
		padding-left: 40px;
		list-style: none;
	}
	.active {
		color: white;
		background-color: blue;
		border-left: 2px solid;
	}
	.btn-round-lg {
		height: 30px;
		width: 185px;
		border-radius: 15px;
		padding: 6px 0px;
		margin-left: 170px;
		margin-top: 13px;
	}
	.btn-primary {
		margin-left: -10px;
		color: #fff;
	}
	tbody {
		background-color: white;
		color: darkcyan;
	}
	thead {
		background-color: rgba(26, 26, 97, 0.63);
		color: white;
	}
	.kit {
		margin-bottom: 55px;
	}
	.point {
		position: absolute;
		margin-left: -35px;
		margin-top: 13px;
		font-size: 20px;
	}
	h5 {
		padding-left: 45px;
		border-bottom: 2px solid;
	}
	.code {
		margin-left: 5px;
	}
	h3 {
	margin-left: 40px;
	}
	.view {
		margin-left: 10px;
		margin-top: 15px;
		font-size: large;
	}
	.core {
		float: right;
		margin-top: -102px;
	    list-style: none;
	    position: block;
	    display: -webkit-inline-box;
	    margin-left: 30px;
	    font-size: 15px;
	}
	.responsive {
		height: 181px;
		width: 480px;
		margin-top: 25px;
	}
	
	.img-circle-kim {
		border-radius: 30px;
		height: 45px;
		width: 50px;
	}
	.btn-sm {
		padding: 3px 72px;
	    font-size: 12px;
	    line-height: 2.5;
	    margin-top: -31px;
	    margin-bottom: -35px;
	}
   	.form-inline {
		margin-top: -30px;
		box-shadow: -50px 5px 60px -16px;
	}
	p {
		margin-bottom: 40px;
		margin-top: 5px;
	}
	.fa {
		padding-right: 15px;
	}
	hr {
		margin-top: 40px;
		margin-bottom: 20px;
		border: 0;
		border-top: 1px solid #000000;
	}
	li {
		list-style: none;
	}
	.table {
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 20px;
	    box-shadow: 0px 0px 10px -5px;
    }
    .good {
    	margin-bottom: 50px;
    }
    .people {
	    margin-bottom: 40px;
	    margin-top: 5px;
	    box-shadow: -95px 15px 55px -9px;
    }
    .better {
    	color: #fff;
	    border-color: transparent;
    }
}
