.more .img-circle-point {
  border-radius: 50%;
  height: 110px;
  width: 130px;
  margin-top: 17px;
  margin-left: 25px; }
.more ul {
  list-style: none;
  margin-left: -28px; }
.more a {
  padding-right: 15px;
  color: #d8dee2a6; }
.more li {
  list-style: none; }
.more .fa-chevron-down {
  float: right;
  margin-top: -26px;
  margin-right: 30px; }
.more hr {
  margin-top: 15px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #5a5858; }
.more .vim {
  padding-bottom: 443px;
  background-color: rgba(0, 8, 14, 0.91);
  color: rgba(195, 190, 190, 0.66);
  margin-left: -36px;
  position: fixed; }
.more .fa {
  margin-right: 25px; }
.more h4 {
  font-size: 18px;
  margin-left: 25px; }
.more h6 {
  font-size: 12px;
  margin-left: 20px; }

.viewport .navbar-default {
  background-color: transparent;
  border-color: #e7e7e7;
  margin-right: -75px; }
.viewport .navbar-right {
  font-size: 20px; }
.viewport .font {
  margin-left: 160px;
  margin-right: -98px; }
.viewport .fa-th {
  padding-right: 5px;
  padding-left: 5px;
  border-left: 2px solid; }
.viewport .view {
  margin-left: 10px;
  margin-top: 15px;
  font-size: large; }
.viewport .nav > li {
  position: relative;
  display: block;
  float: left;
  margin-top: -39px; }
.viewport .nav > li > a:hover {
  background-color: blue;
  color: white; }
.viewport .btn-circle-sm {
  height: 33px;
  width: 60px;
  border-radius: 15px; }
.viewport .row {
  margin-right: -74px;
  margin-left: 0px;
  background-color: aliceblue;
  margin-top: -21px;
  -webkit-box-shadow: 5px 5px 80px -15px #d4c9d4;
  -moz-box-shadow: 5px 5px 80px -15px #d4c9d4;
  box-shadow: inset 0px 0px 80px -20px #d4c9d4; }
.viewport .active1 {
  border-bottom: 2px solid;
  padding: 4px; }
.viewport .man-u > ul > li {
  float: left;
  padding-left: 40px;
  list-style: none; }
.viewport .active {
  color: white;
  background-color: blue;
  border-left: 2px solid; }
.viewport .btn-round-lg {
  height: 30px;
  width: 185px;
  border-radius: 15px;
  padding: 6px 0px;
  margin-left: 170px;
  margin-top: 13px; }
.viewport .btn-primary {
  margin-left: -10px;
  color: #fff; }
.viewport tbody {
  background-color: white;
  color: darkcyan; }
.viewport thead {
  background-color: rgba(26, 26, 97, 0.63);
  color: white; }
.viewport .kit {
  margin-bottom: 55px; }
.viewport .point {
  position: absolute;
  margin-left: -35px;
  margin-top: 13px;
  font-size: 20px; }
.viewport h5 {
  padding-left: 45px;
  border-bottom: 2px solid; }
.viewport .code {
  margin-left: 5px; }
.viewport h3 {
  margin-left: 40px; }
.viewport .view {
  margin-left: 10px;
  margin-top: 15px;
  font-size: large; }
.viewport .core {
  float: right;
  margin-top: -102px;
  list-style: none;
  position: block;
  display: -webkit-inline-box;
  margin-left: 30px;
  font-size: 15px; }
.viewport .responsive {
  height: 181px;
  width: 480px;
  margin-top: 25px; }
.viewport .img-circle-kim {
  border-radius: 30px;
  height: 45px;
  width: 50px; }
.viewport .btn-sm {
  padding: 3px 72px;
  font-size: 12px;
  line-height: 2.5;
  margin-top: -31px;
  margin-bottom: -35px; }
.viewport .form-inline {
  margin-top: -30px;
  box-shadow: -50px 5px 60px -16px; }
.viewport p {
  margin-bottom: 40px;
  margin-top: 5px; }
.viewport .fa {
  padding-right: 15px; }
.viewport hr {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #000000; }
.viewport li {
  list-style: none; }
.viewport .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px -5px; }
.viewport .good {
  margin-bottom: 50px; }
.viewport .people {
  margin-bottom: 40px;
  margin-top: 5px;
  box-shadow: -95px 15px 55px -9px; }
.viewport .better {
  color: #fff;
  border-color: transparent; }

/*# sourceMappingURL=main.css.map */
